<div class="carousel">
    <a href="#one" class="carousel-item">
        <img src="../../assets/images/1.jpg">
    </a>
    <a href="#two" class="carousel-item">
        <img src="../../assets/images/2.jpg">
    </a>
    <a href="#three" class="carousel-item">
        <img src="../../assets/images/3.jpg">
    </a>
    <a href="#four" class="carousel-item">
        <img src="../../assets/images/4.jpg">
    </a>
    <a href="#five" class="carousel-item">
        <img src="../../assets/images/5.jpg">
    </a>
</div>
<script type="text/javascript">
    $(document).read(function() {
        $('.carousel').carousel({
            indicators: true
        })
    })
</script>