<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <h1 class="text-light"><a>Richard Ross</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/RichRoss18" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100004647336596" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/ricross1800/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/richard-ross-71a4b3217/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a routerLink="" routerLinkActive="active" href="home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>First</span></a></li>
                <li><a routerLink="/second" routerLinkActive="active" href="second" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Second</span></a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->
<router-outlet>
</router-outlet>
