<owl-carousel-o [options]="customOptions">
    <ng-container>
        <ng-template carouselSlide>
            <div class="card card-1">
                <img src="https://via.placeholder.com/80" alt="Mobile Internet" width="100%">
                <div class="container">
                    <h4><b>Link</b></h4>
                    <p>Mobile Internet</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-2">
                <img src="https://via.placeholder.com/80" alt="Home Internet">
                <div class="container">
                    <p> Home Internet </p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-3">
                <img src="https://via.placeholder.com/80" alt="Home Internet">
                <div class="container">
                    <p> Get Device </p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-4">
                <img src="https://via.placeholder.com/80" alt="Add a phone">
                <div class="container">
                    <p>Add a phone</p>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card card-5">
                <img src="https://via.placeholder.com/80" alt="Mumbai Metro">
                <div class="container">
                    <p>Upgrade</p>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<!-- <router-outlet></router-outlet> -->
