<H1 style="text-align:center; font-family:monospace; font-size:42px;">
    Carousel</H1>

<section id="slider">
    <input type="radio" name="slider" id="s1">
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3" checked>
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">

    <label for="s1" id="slide1">
          <img src="../../assets/images/1.jpg" height="100%" width=    "100%">
        </label>
    <label for="s2" id="slide2">
          <img src="../../assets/images/2.jpg" height="100%" width="100%">
        </label>
    <label for="s3" id="slide3">
          <img src="../../assets/images/3.jpg" height="100%" width="100%">
        </label>
    <label for="s4" id="slide4">
          <img src="../../assets/images/4.jpg" height="100%" width="100%">
        </label>
    <label for="s5" id="slide5">
          <img src="../../assets/images/5.jpg" height="100%" width="100%">
        </label>

</section>
