    * {
        margin: 0;
        padding: 0;
        box-sizing: broder-box;
        font-family: 'poppin', sans-serif;
    }

    body {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    .wrapper {
        width: 100%
    }

    .wrapper .carousel {
        max-width: 1200px;
        margin: auto;
        padding: 0 30px;
    }

    .carousel .card {
        line-height: 250px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 90px;
        font-weight: 600;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .carousel .card-1 {
        background: red;
    }

    .carousel .card-2 {
        background: rgb(4, 254, 21);
    }

    .carousel .card-3 {
        background: rgb(17, 0, 255);
    }

    .carousel .card-4 {
        background: rgb(251, 0, 255);
    }

    .carousel .card-5 {
        background: rgb(255, 247, 0);
    }

    .owl-item.active.center {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
    }
