<div class="wrapper">
    <div class="carousel owl-carousel">
        <div class="card card-1">Mobile Internet</div>
        <div class="card card-2">Home Internet</div>
        <div class="card card-3" active>Get Device</div>
        <div class="card card-4">Add a phone line</div>
        <div class="card card-5">Upgrade</div>
    </div>
</div>

<script>
    $(".carousel").owlCarousel({
        center: true,
        responsiveClass: true,
        responsive: {
            0: {
                item: 1,
                nav: true
            },
            600: {
                item: 3,
                nav: true
            },
            1200: {
                item: 5,
                nav: true,
            }
        }
    });
</script>
