span {
    text-align: center;
    line-height: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: broder-box;
    font-family: 'poppin', sans-serif;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    width: 100%;
    height: 50%;
}

.carousel .card {
    width: 130px;
    line-height: 200px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 100px 60px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel .card-1 {
    background: red;
}

.carousel .card-2 {
    background: rgb(4, 254, 21);
}

.carousel .card-3 {
    background: rgb(17, 0, 255);
}

.carousel .card-4 {
    background: rgb(251, 0, 255);
}

.carousel .card-5 {
    background: rgb(255, 247, 0);
}

.active.center {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
    .active.center {
        -webkit-transform: scale(1.3);
        transform: scale(1.2);
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
    .active.center {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
