<div class="wrapper">
    <div class="carousel owl-carousel">
        <div class="card card-1">A</div>
        <div class="card card-2">B</div>
        <div class="card card-3">C</div>
        <div class="card card-4">D</div>
        <div class="card card-5">E</div>
    </div>

</div>


<script>
    $(".carousel").owlCarousel({
        margin: 10,
        center: true,
        autoplayHoverPause: true,
        responsiveClass: true,
        responsive: {
            0: {
                item: 1,
                nav: true
            },
            600: {
                item: 3,
                nav: true
            },
            1400: {
                item: 5,
                nav: true,
                loop: true
            }
        }
    });
</script>
